{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>
<a href="/create_lot" class="btn btn-primary mb-3">Create New Parking Lot</a>
 <style>
  body {
    background-color: rgb(196, 141, 230);
  }
</style>
<form method="POST" class="d-flex justify-content-start mb-3" style="max-width: 400px;">
    <input type="text" name="search" class="form-control me-2" placeholder="Search Lot by Name" required>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary ms-2">Clear</a>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Lot Name</th>
            <th>Address</th>
            <th>Pin</th>
            <th>Price</th>
            <th>Total Spots</th>
            <th>Available Spots</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for lot in lots %}
        <tr>
            <td>{{ lot.name }}</td>
            <td>{{ lot.address }}</td>
            <td>{{ lot.pin }}</td>
            <td>{{ lot.price }}</td>
            <td>{{ lot.total_spots }}</td>
            <td>
                {{ lot.spots | selectattr("status", "equalto", "Available") | list | length }}
            </td>
            <td>
            <a href="/update_lot/{{ lot.id }}" class="btn btn-warning btn-sm">Update</a>   
            <a href="/delete_lot/{{ lot.id }}" class="btn btn-danger btn-sm ">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}
