{% extends 'base.html' %}
{% block content %}

<!-- <div class="container mt-4"> -->
<div style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #ffffff;">
<div style="padding: 2rem; background-color: rgb(161, 210, 251); box-shadow: 0 0 10px rgba(29, 29, 134, 0.1); border-radius: 8px;height: 50%;width: 40%;">
    <h4>Payment to Release Spot</h4>
    <table class="table table-striped table-bordered mt-4">
        <tr><th>Car</th><td>{{ reservation.car_name }}</td></tr>
        <tr><th>Registration No.</th><td>{{ reservation.car_number }}</td></tr>
        <tr><th>Lot</th><td>{{ reservation.spot.lot.name }}</td></tr>
        <tr><th>Spot ID</th><td>{{ reservation.spot.id }}</td></tr>
        <tr><th>Total Cost</th><td>{{ cost }}</td></tr>
    </table>

    <form method="POST" action="{{ url_for('confirm_release', reservation_id=reservation.id) }}">
        <button class="btn btn-success">Pay and Release</button>
        <a href="{{ url_for('user_reservations') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</div>
{% endblock %}
